RewriteEngine On

ErrorDocument 404 /404.php

#RewriteCond %{REQUEST_URI} =/index.php
#RewriteCond %{QUERY_STRING} ^$
#RewriteRule ^.*$ /index.php?path=about

RewriteCond %{REQUEST_URI} !=/index.php
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L]

#RewriteCond %{REQUEST_URI} !=/index.php
#condition: test string is not index.php

#RewriteCond %{REQUEST_URI} !.*\.(css|js|jpe?g|png|gif) [NC]
#condition: test string does not end with the extentions listed

#RewriteRule ^(.*)$ /index.php?path=$1 [NC,L]
#rule: serve on index.php and add path value to query string ***NOTE: will need to update to accept html, png, etc.
