#header {
    position: absolute;
    display: block;
    width: 100%;
}

.logo {
    position: relative;
    display: inline-block;
}

.nav {
    position: absolute;
    display: inline-block;
    right: 0;
}

.nav li {
    display: inline-block;
}
