/*DEFAULT CLASSES (add to main.css later)*/

.flex-container-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.flex-container-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}


/*END DEFAULT CLASSES (add to main.css later)*/


/*HEADER*/

#header {
    position: relative;
    width: 100%;
    height: 100vh;
}


/*END HEADER*/


/*HERO*/

#hero {
    position: relative;
    width: 100%;
    height: 100%;
}


/*END HERO*/


/*NAVBAR*/

#navbar {
    position: relative;
    width: 100%;
    padding: 2em;
}

.logo {
    position: relative;
    display: inline-block;
    flex-grow: 0;
}

.flex-spacer {
    flex-grow: 1;
}

.nav {
    position: relative;
    flex-grow: 1;
}

.nav ul {
    justify-content: space-between;
}

.nav a {
    position: relative;
    font-size: 1.8em;
    text-shadow: 0px 0px 3px rgba(80, 80, 80, 1);
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all .3s;
    color: #fff;
}

.nav a:hover {
    color: #FF3D00;
    text-shadow: none;
}

.nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -2px;
    /*    opacity: .9;*/
    /*    background-color: #fff;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.nav a:hover::after {
    width: 100%;
    left: 0;
    /*    opacity: 1;*/
    background-color: #FF3D00;
}


/*END NAVBAR*/
