/*SCREEN RESOLUTION*/


/*Max = 1920px by 1080px*/


/*Min = 320px by 480px */


/*Chromebook = 1366 x 631*/


/*MacBook Pro = 1280 x 676*/


/*END SCREEN RESOLUTION*/


/*TAGS*/

* {
    box-sizing: border-box;
    font-family: Cabin, Arial, sans-serif;
}

html {
    font-size: 62.5%;
    /*10px*/
    /*default font-size is 16px, so 16px * .625 = 10px*/
}

body {
    font-size: 1rem;
    /*rem: relative to font-size of html element*/
}


/*60 "m" characters at 16px font-size in Cabin font-family take up 848px*/

h1,
h2,
h3,
h4,
p {
    display: block;
    max-width: 60rem;
}


/*href="https://fonts.googleapis.com/css?family=Cabin:400,700"*/


/*font-weight can be "normal" (400) or "bold" (700), unless more options are loaded */

blockquote {
    font-size: 2.4em;
    /*relative to font-size of parent element*/
    font-weight: normal;
    line-height: 1.4583em;
    /*relative to font-size of current element*/
}

h1 {
    font-size: 4.8em;
    font-weight: bold;
    line-height: 1.05em;
}

h2 {
    font-size: 3.6em;
    font-weight: normal;
    line-height: 1.25em;
}

h3 {
    font-size: 2.8em;
    font-weight: normal;
    line-height: 1.25em;
}

h4 {
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.2222em;
}

p {
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.375em;
    text-align: justify;
    margin: 0;
    color: rgba(0, 0, 0, .54);
}


/*all <p> elements placed immediately before a header element are selected*/

h1 ~ p,
h2 ~ p,
h3 ~ p,
h4 ~ p {
    margin-top: .5em;
}


/*all <p> elements placed immediately after a <p> element are selected*/

p + p {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: #FF3D00;
}


/* END TAGS ==========================================================================*/


/*TEXT*/

.primary-dark,
.primary-dark p,
.primary-dark-all * {
    color: rgba(0, 0, 0, .87);
}

.primary-light,
.primary-light p .primary-light-all * {
    color: rgba(255, 255, 255, 1);
}

.secondary-dark,
.secondary-dark p,
.secondary-dark-all * {
    /*    color: rgba(0, 0, 0, .705); linear*/
    color: rgba(0, 0, 0, .6854);
}

.secondary-light,
.secondary-light p,
.secondary-light-all * {
    color: rgba(255, 255, 255, .85);
}

.tertiary-dark,
.tertiary-dark p,
.tertiary-dark-all * {
    color: rgba(0, 0, 0, .54);
}

.tertiary-light,
.tertiary-light p,
.tertiary-light-all * {
    /*    color: rgba(255, 255, 255, .7); linear*/
    color: rgba(255, 255, 255, .8367);
}


/* END TEXT ==========================================================================*/


/*POSITIONING*/

.wrapper {
    position: relative;
    width: 100%;
    padding: 2em;
}

.center,
.center-children > * {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.center-block,
.center-children-block > * {
    margin-right: auto;
    margin-left: auto;
}

.center-inline,
.center-children-inline > * {
    text-align: center;
}


/* END POSITIONING ==========================================================================*/


/*BUTTONS*/

.btn {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    color: #607D8B;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    /*    background-clip: padding-box;*/
    -webkit-transition: background .3s, color .3s;
    transition: background .3s, color .3s;
}

.btn-small {
    font-size: 1.2rem;
    padding: 8px 18px;
}

.btn-large {
    font-size: 1.4rem;
    padding: 10px 22px;
}

.btn:hover {
    background-color: #FF3D00;
    color: #fff;
}


/* END BUTTONS ==========================================================================*/


/*FLEX*/

.flex-container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-container-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/* END FLEX ==========================================================================*/


/*FORM & INPUT*/

form {
    position: relative;
    width: 100%;
    max-width: 85rem;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.2222em;
}

form > .flex-container-row {
    flex-wrap: wrap;
}

form > div:last-child {
    justify-content: space-around;
}

input,
textarea {
    flex-grow: 1;
    margin: 1rem 2%;
    padding: 1.1rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, .6854);
    border-radius: 3px;
    -webkit-transition: background .2s;
    transition: background .2s;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input:focus,
textarea:focus {
    background-color: rgba(96, 125, 139, 0.2);
}

input[type="submit"] {
    flex-grow: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF6E40;
    border: 3px solid #FF6E40;
    -webkit-transition: all .3s;
    transition: all .3s;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    cursor: pointer;
    flex-grow: 1;
    color: #FF3D00;
    background-color: #fff;
    border: 3px solid #FF3D00;
}

input:required, textarea:required, select:required {
}

input:invalid, textarea:invalid, selevt:invalid {
    box-shadow: none;
/*    border: 3px solid #FF3D00;*/
}

input:invalid:focus {
    background-color: rgba(255, 110, 64, .2);
}

/*
input:invalid {
    background-color: rgba(255, 110, 64, .2);
}
*/

form.submitted input:invalid {
    background-color: rgba(255, 110, 64, .2);
    border: 2px solid #FF3D00;
}


/* END FORM & INPUT ==========================================================================*/


/*HEADER*/

#header {
    position: relative;
}

#header > div,
.hero {
    height: 350px;
}

#header > div > div:not(.hero) {
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(images/pano-mountains-1920w-516h.jpg);
    background-position: 0 65%;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0));
}

.logo {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.logo a {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(80, 80, 80, .5);
}

.nav-header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.nav-header ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-header a {
    position: relative;
    font-size: 1.8em;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(100, 100, 100, 1);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-header a:hover {
    color: #FF3D00;
    text-shadow: none;
}

.nav-header a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-header a:hover::after {
    width: 100%;
    left: 0;
    background-color: #FF3D00;
}

.hero-text h1,
.hero-text h2,
.hero-text h3,
.hero-text h4 {
    max-width: 65%;
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 1);
}


/*=== Header: PAGES */


/*====== Header: 404 */

#header > #header-404,
#header-404 .hero {
    height: 100vh;
    /* default in case 'calc()' is unsuccessful below */
    height: calc(100vh - 95px);
    /* view height minus height of footer */
}

#header-404 .hero-image {
    background-image: url(images/hiking-clouds-1920w-1440h.jpg);
}


/*====== END Header: 404 */


/*====== Header: HOME */

#header > #header-home,
#header-home .hero {
    height: 100vh;
}

#header-home .hero-image {
    background-image: url(images/landscape-reflection-1920w-1440h.jpg);
    background-position: 0 65%;
}


/*====== END Header: HOME */


/*====== Header: ABOUT */

#header-about .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
}


/*====== END Header: ABOUT */


/*====== Header: DESTINATION */

#header-destination .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
}


/*====== END Header: DESTINATION */


/*====== Header: ACTIVITIES */

#header-activities .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
}


/*====== END Header: ACTIVITES */


/*====== Header: PLANNING */

#header-planning .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
}


/*====== END Header: PLANNING */


/*====== Header: GALLERY */

#header-gallery .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
}


/*====== END Header: GALLERY */


/*====== Header: CONTACT */

#header-contact .hero-image {
    background-image: url(images/pano-mountains-1920w-516h.jpg);
    /*    background-position: 0 65%;*/
}


/*====== END Header: CONTACT */


/*=== END Header: PAGES */


/* END HEADER ==========================================================================*/


/*CONTENT*/

#content {
    position: relative;
    width: 100%;
    background-color: #fff;
}

.welcome-shadow {
    box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, .2), inset 0 -10px 10px -10px rgba(0, 0, 0, .15);
}

.welcome {
    font-size: 1.2rem;
    position: relative;
    padding: 3em 0 3em 0;
}

.welcome > * {
    max-width: 75rem;
}

.gallery {
    position: relative;
    background-color: #fff;
}

.gallery div div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 266px;
    height: calc((100vh - 100px) / 2);
    /* view height minus height of footer (95px) minus margin (3px) minus 2px for a little space on top, all divided by 2 since there are two rows. This ensures that the full gallery section is displayed when a user scrolls to the very bottom of the page*/
    background-size: cover;
    background-position: center;
    /*    filter: saturate(110%);*/
}

.gallery div:nth-of-type(1) div:nth-of-type(1) {
    margin: 0 3px 3px 0;
    background-image: url(images/hiking-glacier-653w-490h.jpg);
    background-position: 50% 75%;
}

.gallery div:nth-of-type(1) div:nth-of-type(2) {
    margin-right: 3px;
    background-image: url(images/landscape-glacier-653w-490h.jpg);
    background-position: 50% 70%;
}

.gallery div:nth-of-type(1) div:nth-of-type(3) {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-image: url(images/hiking-rainbow-960w-720h.jpg);
    background-position: 50% 15%;
}

.gallery div:nth-of-type(2) div:nth-of-type(1) {
    margin-right: 3px;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    background-image: url(images/pano-mountains-1824w-490h.jpg);
    background-position: 35% 50%;
}

.gallery div:nth-of-type(2) div:nth-of-type(2) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: url(images/hiking-valley-653w-490h.jpg);
    background-position: 50% 95%;
}

.gallery a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.gallery a:hover {
    opacity: .25;
}


/* END CONTENT ==========================================================================*/


/*FOOTER*/

#footer {
    position: relative;
    width: 100%;
    background-color: #eee;
}

.nav-footer {
    margin-bottom: 1.5em;
}

.nav-footer ul {
    font-size: 0;
    /*get rid of space between <li> elements*/
}

.nav-footer li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: 0 2em;
}

.nav-footer li:first-child {
    padding: 0 2em 0 0;
}

.nav-footer li:last-child {
    padding: 0 0 0 2em;
}

.nav-footer li::after {
    content: "";
    position: absolute;
    height: 1.4em;
    margin-top: -.7em;
    top: 50%;
    right: -1px;
    border-right: 2px solid #000;
}

.nav-footer li:last-child::after {
    content: none;
}

.nav-footer a {
    position: relative;
    font-size: 1.8em;
}

.nav-footer li:last-child a {
    padding: 5px;
    border: 2px solid #000;
    /*    border-radius: 10px;*/
}

.nav-footer a:hover {
    color: #FF3D00;
}

.nav-footer li:last-child a:hover {
    border: 2px solid #FF3D00;
    background-color: #fff;
}

.copyright {
    position: relative;
}

.copyright p {
    font-size: 1.6em;
}


/* END FOOTER ==========================================================================*/


/*404*/

#page-404 {
    position: relative;
    background-color: #fff;
}


/* END 404 ==========================================================================*/


/*About*/

#page-about {
    position: relative;
    background-color: #fff;
    width: 100%;
}

.history,
.bill-quote {
    justify-content: space-around;
}

.history div:first-child,
.bill-quote div:last-child {
    flex-grow: 1;
    margin: 0 2em;
    background-size: cover;
    background-position: center;
}

.history div:last-child,
.bill-quote div:first-child {
    flex-grow: 0;
    padding: 2em;
}

.history div:first-child {
    background-image: url(images/hiking-glacier-200w-200h.jpg);
}

.history div:last-child {
    width: 60%;
}

.bill-quote div:first-child {
    width: 40%;
}

.bill-quote div:last-child {
    height: 300px;
    background-position: 50% 65%;
    background-image: url(images/hiking-glacier-653w-490h.jpg);
}

.our-vision {}


/* END About ==========================================================================*/


/*Contact*/

#page-contact {
    position: relative;
    background-color: #fff;
    width: 100%;
}


/* END Contact ==========================================================================*/
